<%- include("header"); -%>
<h1>About me</h1>
<p>I am Khandakar Aryanul Haque 
    I am a student of Techno India University
    I am currently pursuing Btech in Comp. Science
</p>
<%- include("footer"); -%>